<div class="wrapper-container">
    <!-- Background Image -->
    <img src="img/BG_About.jpg" class="img-bg" alt="">
    <!-- Content -->
    <div class="wrapper">
        <div class="container about-content">
              <div class="row">
                <div class="col-md-12 text-center">
                  <div class="hero-title">About Midwinter</div>
                  <div class="snow-line">
                      <span></span>
                      <img src="img/snowflake_under.png">
                      <span></span>
                  </div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque. Nunc posuere purus rhoncus pulvinar aliquam. Ut aliquet tristique nisl vitae volutpat. Nulla aliquet porttitor venenatis. Donec a dui et dui fringilla consectetur id nec massa. Aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque. Nunc posuere purus rhoncus pulvinar aliquam. Ut aliquet tristique nisl vitae volutpat. Nulla aliquet porttitor venenatis.
                  </p>
                  <br class=" hidden-xs">
                  <br class=" hidden-xs">
                </div>
              </div>
              <div class="row text-center">
                  <div class="col-md-4 col-md-offset-2 col-sm-6 col-sm-offset-0" >
                      <div class="col-md-12 hidden-xs">
                          <img src="img/about_icon1.png" alt="" />
                      </div>
                      <img class="card-image visible-xs" src="img/about_icon1.png" alt="" />
                      <div class="col-md-12 card-content">
                          <h4 class="text-uppercase card-title">chief executive officer</h4>
                          <p class="text-justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque. Nunc posuere purus rhoncus pulvinar aliquam. Ut aliquet tristique nisl vitae volutpat. Nulla aliquet porttitor venenatis.
                          </p>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-6 col-sm-offset-0">
                    <div class="col-md-12 hidden-xs">
                        <img src="img/about_icon2.png" alt="" />
                    </div>
                    <img class="card-image visible-xs" src="img/about_icon2.png" alt="" />
                    <div class="col-md-12 card-content">
                      <h4 class="text-uppercase card-title">creative director</h4>
                      <p class="text-justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque. Nunc posuere purus rhoncus pulvinar aliquam. Ut aliquet tristique nisl vitae volutpat. Nulla aliquet porttitor venenatis.
                      </p>
                    </div>
                  </div>
              </div>
        </div>
    </div>
</div>
