<div class="wrapper-container">
    <!-- Background Image -->
    <img src="img/BG_Contact.jpg" class="img-bg" alt="">
    <!-- Content -->
    <div class="wrapper">
      <div class="outer-container">
          <div class="inner-container">
            <div class="container">
                  <div class="row">
                      <div class="col-md-5">
                          <div class="hero-title">Contact</div>
                          <div class="snow-line">
                              <span></span>
                              <img src="img/snowflake_under.png">
                              <span></span>
                          </div>
                          <form>
                              <br>
                              <div class="form-group">
                                <label for="exampleInputName">Name:</label>
                                <input type="email" class="form-control" id="exampleInputName">
                              </div>
                              <br>
                              <div class="form-group">
                                <label for="exampleInputEmail">Email:</label>
                                <input type="email" class="form-control" id="exampleInputEmail">
                              </div>
                              <br>
                              <div class="form-group">
                                <label for="exampleInputMessage">Message:</label>
                                <textarea class="form-control" id="exampleInputMessage" rows="10"></textarea>
                              </div>
                              <br>
                              <div class="text-center">
                                  <button type="submit" class="btn btn-warning text-uppercase">Submit</button>
                              </div>
                          </form>
                      </div>
                </div>
              </div>
          </div>
      </div>
</div>
