<div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 hidden-xs">
        <p>
          <em>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque. Nunc posuere purus rhoncus pulvinar aliquam. Ut aliquet tristique nisl vitae volutpat. Nulla aliquet porttitor venenatis. Donec a dui et dui fringilla consectetur id nec massa. Aliquam erat volutpat."
          </em>
        </p>
      </div>
      <div class="col-md-4 col-md-offset-2 col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2">
        <p class="text-uppercase">
          <span class="underline">contact details</span>
        </p>
        <p>
          Name
        </p>
        <p>
          Address
        </p>
        <p>
          ABN
        </p>
        <br class="visible-xs">
      </div>
      <div class="col-md-2 col-md-offset-0 social col-sm-3 col-sm-offset-0 col-xs-8 col-xs-offset-2">
        <p class="text-uppercase">
          <span class="underline">social media</span>
        </p>
        <img src="img/social1.png">
        <img src="img/social2.png">
        <img src="img/social3.png">
      </div>
    </div>
</div>
