<div class="wrapper-container">
    <!-- Background Image -->
    <img src="img/BG_Home.jpg" class="img-bg" alt="">
    <!-- Content -->
    <div class="wrapper">
      <div class="outer-container">
          <div class="inner-container">
            <div class="container">
                  <div class="row">
                      <div class="col-md-5 col-md-offset-7 text-center">
                          <div class="hero-title">Midwinter is coming</div>
                          <div class="snow-line">
                              <span></span>
                              <img src="img/snowflake_under.png">
                              <span></span>
                          </div>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque. Nunc posuere purus rhoncus pulvinar aliquam. Ut aliquet tristique nisl vitae volutpat. Nulla aliquet porttitor venenatis. Donec a dui et dui fringilla consectetur id nec massa. Aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque. Nunc posuere purus rhoncus pulvinar aliquam. Ut aliquet tristique nisl vitae volutpat.Nunc posuere purus rhoncus pulvinar aliquam. Ut aliquet tristique nisl vitae volutpat.
                          </p>
                      </div>
                </div>
              </div>
          </div>
      </div>

    </div>
</div>
